@page
@model PruebaNet.WebApi.ControlClientesModel
@{
    ViewData["Title"] = "ControlClientes";
}

<br />
<h2 class="text-info">Agregar Nuevo Cliente</h2>

<!--Boostrap clases "border"-->
<div class="border">
    <form method="post">
        <!--div asp-validation se encargar de validar los campos obligatorios-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding:30px;">
            <!---->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Cedula</label>
                    </div>
                    <div class="col-sm-4">
                        <input  asp-for="Clientes.cedula" class="form-control" />
                    </div>
                    <span asp-validation-for="Clientes.cedula" class="text-danger"></span>
                </div>
            </div>
            <!---->
            <!---->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Nombre</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Clientes.nombres" class="form-control" />
                    </div>
                    <span asp-validation-for="Clientes.nombres" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Email</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Clientes.email" class="form-control" />
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Telefono</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Clientes.telefono" class="form-control" />
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Dirección</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Clientes.direccion" class="form-control" />
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>

            <!---Botones-->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <input type="submit" value="Añadir" class="=btn btn-primary form-control">
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="Clientes" class="btn btn-success form-control">Volver</a>
                    </div>

                </div>
            </div>
            <!---->


        </div>
    </form>
</div>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

